
<h1>신이 너를 만들 때</h1>
<div style="border: black solid 6px" class id="main" class= "hr br" "row">
<img src = "http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s0" 
id="image1" alt= "first" >
</br>
<button id="button1" type="button" class="btn btn-default btn-lg btn-block"><a href="/result">START</a>

</button>
</div>