
<div style="border: black solid 6px" id="cm" class= "hc vc" "row">
  <div class="col-sm-4"><h3><%=@pen%> 초큼 넣고<h3></div>
  <div class="col-sm-4"><h3><%=@pine%> 두 스푼 정도를 퐁당</h3></div>
  <div class="col-sm-4"><h3>마지막으로 <%=@nike%> 왕창 넣으면</h3></div>
  <%=image_tag@img%>
  <button type="button" class="btn btn-default btn-lg btn-block"><a href="/">처음으로</a></button>
</div>

