// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div{ position: relative;}
#main { position: absolute;}
.hr {width:800px; left:0; margin-left:auto; right:0; margin-right:auto;}
.vr {top:100px; margin-top:auto; margin-bottom:auto;}

